<svg viewBox="0 0 400 260" role="img" aria-label="Map">
  @for (line of view().latLines; track line.deg) {
    <line x1="0" [attr.y1]="line.pos" [attr.x2]="viewW" [attr.y2]="line.pos" class="cf-grid" />
  }
  @for (line of view().lonLines; track line.deg) {
    <line [attr.x1]="line.pos" y1="0" [attr.x2]="line.pos" [attr.y2]="viewH" class="cf-grid" />
  }
  @for (marker of view().markers; track marker.point.id) {
    <g
      class="cf-marker"
      [class.cf-selected]="marker.point.id === selectedId()"
      (click)="pick(marker.point)"
    >
      <circle [attr.cx]="marker.x" [attr.cy]="marker.y" r="5" class="cf-dot" />
      <text [attr.x]="marker.x + 8" [attr.y]="marker.y + 3" class="cf-label">
        {{ labelOf(marker.point) }}
      </text>
    </g>
  }
  @if (view().center; as mapCenter) {
    <g class="cf-center">
      <path [attr.d]="crossPath(mapCenter.x, mapCenter.y)" class="cf-center-mark" />
      @if (mapCenter.city) {
        <text [attr.x]="mapCenter.x + 9" [attr.y]="mapCenter.y - 6" class="cf-label">
          {{ mapCenter.city }}
        </text>
      }
    </g>
  }
</svg>
